.sidebar-wrap
  .sidebar-title
    %h1 菜单
  .sidebar-content
    %ul.sidebar-list
      %li
        %a{:href => "#"}
          %i.icon-font> 
          常用操作
        %ul.sub-menu
          %li
            %a{:href => "/users/index"}
              %i.icon-font> 
              用户管理
          %li
            %a{:href => "/categories/index"}
              %i.icon-font> 
              分类管理
          %li
            %a{:href => "/tasks/index"}
              %i.icon-font> 
              任务管理
          %li
            %a{:href => "/comments/index"}
              %i.icon-font> 
              消息管理
